services:
  sphinx-dev:
    profiles: ["dev"]
    user: "${UID}:${GID}"
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./sphinx:/sphinx
      - ./docs:/docs
      - ./build:/build
    ports:
      - "8599:8599"

  sphinx-ci:
    profiles: ["ci"]
    user: "${UID}:${GID}"
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./sphinx:/sphinx
      - ./build/docs:/docs
      - ./build:/build
