services:
  sphinx:
    user: "${UID}:${GID}"
    build:
      context: .
      args:
        NEW_UID: ${NEW_UID:-1000}
        NEW_GID: ${NEW_GID:-1000}
      dockerfile: docker/Dockerfile
    volumes:
      - ./sphinx:/sphinx
      - ./docs:/docs
      - ./build:/build
    ports:
      - 8599:8599
