/* Mermaid images */
p:has(img:only-child) {
    /* Workaround for chicken/egg auto-sizing issues of `p>img` mermaid
    diagrams, which have width:100% in their SVG source, resulting in a 0-width
    paragraph. */
    align-self: stretch;
}

body>footer nav a:hover{
    /* For now just a workaround, will be fixed in the next stable release of Manon */
    color: #ffffff !important;
 }